<h1>Bloques</h1>

<table>
  <tr>
    <th>Nombre</th>
  </tr>

<% @political_parties.each do |political_party| %>
  <tr>
    <td><%= link_to political_party.name, political_party %></td>
  </tr>
<% end %>
</table>

