body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: helvetica, arial, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #006285; }
a:visited { color: #666; }
a:hover { color: #0192B5;}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

h3{
    font-weight:bold;
    font-size:85%;
    line-height:20px;
    margin:20px 0 0 0;
    
}

/* Util */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* Layout */
html,body{
  margin: 0;
  padding: 0;
  width:100%;
}
#container{
  margin:0 auto;
  width: 960px;
}

/* Header */
#header{
    margin-bottom:100px;
    margin:40px 0;
}
.logo{
  background:url("../images/logo.png") no-repeat top left;
  float: left;
  height:56px;
  margin: 0;
  text-indent:-9999px;
  width:217px;
  margin-right:20px;
  
  
  
}
#nav{
  float: left;
  width: 690px;
  margin-top:15px;

}
#nav a{
  font-size: 12px;
  text-decoration: none;
  padding: 6px 14px;
  display: block;
  float: left;
  margin: 0 5px;
  font-weight: bold;
  text-shadow: 0 1px 0 white;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#nav a:hover{color:#0192B5;background-color:#E8EFF5;}
#nav a.active{
  color: white;
  background-color: #719EC3;
  text-shadow: 0 -1px 0 #4D85B4;
}
#nav li{
	float:left;
	width:100px;
	display:inline;
	list-style:none;
	padding:0;
	margin:0;
	
}
#nav li.bloques{width:84px;}


/* Tablas de diputados y senadores */
#main-content{
    
}
#main-content h1{
  font-size: 21px;
  font-weight: normal;
}
table{
  width: 100%;
  border-collapse: collapse;
}
th, .tipo-de-dato{
  color: #666;
  font-size: 11px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
}
th{
    padding: 5px 10px;
    
}

tr:nth-child(odd) td{
  background-color:#F3F3F3;
}
td{
  border-top:1px solid #DDD;
  padding:10px;
}
.lista-funcionarios .nombre{
  font-weight:bold;
}
.lista-funcionarios .presentismo,
.lista-funcionarios .presente,
.lista-funcionarios .ausente{
  text-align:right;
}


/*-- Tablas: Paginacion */
/* OVERRIDING
.pagination{margin:20px 0;}
.pagination a,
.pagination span,
.pagination em{
    color:#666666;
    display:block;
    float:left;
    font-size:12px;
    font-weight:bold;
    margin:0;
    padding:3px 8px;
    text-decoration:none;
    text-shadow:0 1px 0 #FFFFFF;
}
.pagination span.disabled,
.pagination a.disabled{
  color: #CCC;
}
.pagination a:visited{color:#999999;}
.pagination a:hover {color:#0192B5;}                                  
.pagination em{
    -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
    background-color:#CCCCCC;
    color:#FFFFFF;
    cursor:default;
    display:block;
    text-shadow:0 1px 0 #888888;
}
*/
.dataTables_paginate{
  float: left;
  margin: 20px 0;
}
.paginate_button,
.paginate_active,
.paginate_button_disabled{
  color: #666666;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 3px 8px;
  text-decoration: none;
  text-shadow: 0 1px 0 #FFFFFF;
}
.paginate_button_disabled{
  color: #CCC;
}
.paginate_active{
  -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
  background-color:#CCCCCC;
  color:#FFFFFF;
  cursor:default;
  display:block;
  text-shadow:0 1px 0 #888888;
}
.dataTables_info{
  float: right;
  margin: 20px 0;
  padding: 3px 0;
}
.dataTables_length{
  float: left;
  width: 40%;
}
.dataTables_filter{
  float: right;
  text-align: right;
  width: 50%;
}

.legisladores-por-bloque .dataTables_filter{
  text-align: left;
  float:none;
  width:98%;
  padding:10px;
  background-color:#f0f5f9;
  border:1px solid #cee1f1;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  margin-bottom:25px;
}


/* Perfil del legislador */
dd {
    margin-bottom:10px;
    
    }

#perfil-legislador img{
  float: left;
  margin: 0 15px 15px 0;
  padding: 3px;
  border: 1px solid #EEE;
  max-width:120px;
}

#perfil-legislador h1{
    margin:2px  0 0;
    
}


/* Votos */
#votos{
    width:70%;
    float:left;
}
#votos tr.positivo:hover td {
  background-color: #e5fcdb;
}
/*
#votos tr.positivo a{color:#456f33;}
#votos tr.negativo a{color:#542228;}
#votos tr.ausente a{color:#7e7335;}
*/
#votos tr.positivo:hover a,#votos tr.negativo:hover a,#votos tr.ausente:hover a{text-decoration:none;}

#votos tr.negativo:hover td {
  background-color: #fcdbdf;
}

#votos tr.ausente:hover td {
  background-color: #fcf7db;
}

#votos th.como-voto{
    width:75px;
    text-align:center;
    
}

#votos td.como-voto{
    text-align:center;
    }

/*twitter legislador*/
#twitter-legislador{
    width:25%;
    float:right;
}
/*partidos politicos*/

#detalle-presentismo {
    border-top:1px dotted lightgrey;
    margin-bottom:40px;
    
    
}

#detalle-presentismo li {
    font-size:300%;
    display:inline;
    float:left;
    width:160px;
    border-right:1px dotted lightgrey;
    padding:20px 15px 0 15px;
    
}

#detalle-presentismo .tipo-de-dato{
    display:block;
    line-height:3;
}


#detalle-presentismo .ultimo{
    border-right:none;
    
}


/* Bloques Filter */

.bloques-chosen-select {
  width:500px;
}

/* Footer */

#footer {
  margin-top:20px;
  border-top:1px solid lightgrey;
}

#footer li {
    font-size:90%;
    list-style:none;
    display:inline;
    margin-right:12px;
    line-height:4;
}
