body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: helvetica, arial, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #006285; }
a:visited { color: #666; }
a:hover { color: #0192B5;}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* Util */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Layout */
html,body{
  margin: 0;
  padding: 0;
  width:100%;
}
.container{
  margin: 0 auto 2em;
  width: 960px;
}

/* Header */
.header{margin-top:40px;}
.site-name{
  background:url("../images/logo.png") no-repeat top left;
  float: left;
  height:56px;
  margin: 0;
  text-indent:-9999;
  width:217px;
}
.main-menu{
  float: left;
  margin-left: 40px;
  width: 690px;
  margin-top: 14px;
}
.main-menu a{
  font-size: 12px;
  text-decoration: none;
  padding: 6px 14px;
  display: block;
  float: left;
  margin: 0 5px;
  font-weight: bold;
  text-shadow: 0 1px 0 white;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.main-menu a:hover{color:#0192B5;background-color:#E8EFF5;}
.main-menu a.active{
  color: white;
  background-color: #719EC3;
  text-shadow: 0 -1px 0 #4D85B4;
}

/* Tablas de diputados y senadores */
.main-content h1{
  font-size: 21px;
  font-weight: normal;
  margin-top: 40px;
}
.lista-funcionarios{
  width: 100%;
  border-collapse: collapse;
}
.lista-funcionarios th{
  color: #666;
  font-size: 11px;
  font-weight: normal;
  padding: 5px 10px;
  text-align: left;
  text-transform: uppercase;
}
.lista-funcionarios tr:nth-child(odd) td{
  background-color:#F3F3F3;
}
.lista-funcionarios td{
  border-top:1px solid #DDD;
  padding:10px;
}
.lista-funcionarios .nombre{
  font-weight:bold;
}
.lista-funcionarios .presentismo,
.lista-funcionarios .presente,
.lista-funcionarios .ausente{
  text-align:right;
}
/*-- Tablas: Paginacion */
.pagination{margin:20px 0;}
.pagination a,
.pagination span,
.pagination em{
    color:#666666;
    display:block;
    float:left;
    font-size:12px;
    font-weight:bold;
    margin:0;
    padding:3px 8px;
    text-decoration:none;
    text-shadow:0 1px 0 #FFFFFF;
}
.pagination span.disabled,
.pagination a.disabled{
  color: #CCC;
}
.pagination a:visited{color:#999999;}
.pagination a:hover {color:#0192B5;}                                  
.pagination em{
    -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
    background-color:#CCCCCC;
    color:#FFFFFF;
    cursor:default;
    display:block;
    text-shadow:0 1px 0 #888888;
}

/* Perfil del legislador */
.perfil-legislador img{
  float: left;
  margin: 0 15px 15px 0;
  padding: 3px;
  border: 1px solid #EEE;
}

/* Votos */

.afirmative {
  background-color: lightGreen;
}

.negative {
  background-color: lightSalmon;
}

.absent {
  background-color: lightYellow;
}

.votes {
  float: left;
}