@font-face {
    font-family: 'CartoGothicStdBook';
    src: url('font/CartoGothicStd-Book-webfont.eot');
    src: url('font/CartoGothicStd-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/CartoGothicStd-Book-webfont.woff') format('woff'),
         url('font/CartoGothicStd-Book-webfont.ttf') format('truetype'),
         url('font/CartoGothicStd-Book-webfont.svg#CartoGothicStdBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CartoGothicStdBold';
    src: url('font/CartoGothicStd-Bold-webfont.eot');
    src: url('font/CartoGothicStd-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/CartoGothicStd-Bold-webfont.woff') format('woff'),
         url('font/CartoGothicStd-Bold-webfont.ttf') format('truetype'),
         url('font/CartoGothicStd-Bold-webfont.svg#CartoGothicStdBold') format('svg');
    font-weight: normal;
    font-style: normal;

}




body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: helvetica, arial, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #006285; }
a:visited { color: #666; }
a:hover { color: #0192B5;}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

h3 {
    font-weight:bold;
    font-size:85%;
    line-height:20px;
    margin:19px 0 19px 0;
    
    
}

h2 {line-height:1.5;margin-bottom:1p;}
p {margin-bottom:19px; line-height:1.5;}

/* Util */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* Layout */
html,body {
  margin: 0;
  padding: 0;
  width:100%;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  /*background:url("../images/bg_dummy.gif") -8px 0 no-repeat;*/
}


/* Header */
#header {
    margin-bottom:100px;
    margin:24px 0;
    border-bottom:1px solid #e5e5e5;
    height:76px;
}

.logo span {
  background:url("../images/logo.png") no-repeat top left;
  float: left;
  height:56px;
  margin: 0;
  text-indent:-9999px;
  width:217px;
  margin-right:20px;
}
#nav {
  float: left;
  width: 520px;
  margin-top:14px;
  margin-left:46px;
  text-transform:uppercase;

}


#nav a {
  color:#4e86b5;
  font-size: 13px;
  text-decoration: none;
  padding: 3px;
  display: block;
  margin: 0 5px;
  font-weight: bold;
  text-shadow: 0 1px 0 white;
  font-family: Helvetica, Arial, sans-serif;
  text-align:center;
}
#nav a:hover { color:#F47A14; }
#nav li.active a {
  color: #868686;
  height:45px;
  border-bottom:8px solid #efefef;
	
  }

#nav li.active{
  background:url("../images/bottom-arrow.gif") 50% bottom no-repeat;
}
#nav li {
	float:left;
	padding: 3px;
	margin:0px;
	display:inline;
	list-style:none;
  padding-bottom:0;
	margin:0;
	height:65px;

}
#nav li.inicio {width:58px;}
#nav li.proyectos { width:105px; }
#nav li.senadores { width:108px; }
#nav li.diputados { width:101px; }
#nav li.bloques { width:100px; }


/* Generales */

#main-content h1 {
  font-family:'CartoGothicStdBold', Helvetica, Arial;
  font-size: 180%;
  font-weight: normal;
  line-height:1.2;
  text-shadow:3px 3px 0 #e7e7e7;
  
}

h2 {
  font-family:'CartoGothicStdBold', Helvetica, Arial;
  font-weight: bold;
  line-height:1.2;
  margin-top:20px;
}

/* Home */
#objetivo-proyecto{
  margin-bottom: 28px;
  padding-bottom: 15px;
  text-align:center;
}
#objetivo-proyecto h1 {
  font-size: 456%;
  color: #f47a14;
  margin-bottom: 1%;
  margin-top:8px;
}
#objetivo-proyecto p {
  font-family:'CartoGothicStdBook', Helvetica, Arial;
  font-size: 140%;
  line-height: 150%;
  color:#393939;
  width:95%;
  margin:0 auto;
}
#estadisticas-generales {
  margin-bottom:130px;
  line-height:1;
}
#estadisticas-generales .twocol {
/*overrides 1140.css*/
  width:13.2%;
  margin: 0 0;
  padding: 10px 1.6%;
  
}

#estadisticas-generales li{
  border-right: 1px dotted lightGrey;
  list-style:none;
  text-align:center;
  
}

#estadisticas-generales .last {
  border-right:none;
}

#estadisticas-generales strong {
  font-size: 360%;
  font-family:'CartoGothicStdBook', Helvetica, Arial;
  font-weight:normal;
}

#estadisticas-generales .porcentaje {
  font-size: 75%;
}
#estadisticas-generales a, #estadisticas-generales span{
  /*color: #006285;*/
  text-transform:uppercase;
  font-size: 85%;
  display:block;
  
}

#estadisticas-generales a {
  color: #006285;
}

/*Home sidebar*/
#home #sidebar {
  
}
#home #sidebar .fourcol {
  /*overrides 1440.css*/
  width:30%;
  margin:0;
  padding: 0 2%;
  
}
#home #sidebar .fourcol p {
  margin-bottom:20px;
  
}

p.sumate a{
  padding:8px 10px 6px;
  border-radius:15px;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border:1px solid #eed1a5;
  color:#fff;
  text-transform:uppercase;
  text-decoration:none;
  font-weight:bold;
  font-size:85%;
  /* fallback */ 
  background-color:#f47714; 
  /* Safari 4-5, Chrome 1-9 */ 
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f68c17), to(#f36911)); 
  /* Safari 5.1, Chrome 10+ */ 
  background: -webkit-linear-gradient(top, #f68c17, #f36911); 
  /* Firefox 3.6+ */ 
  background: -moz-linear-gradient(top, #f68c17, #f36911); 
  /* IE 10 */ 
  background: -ms-linear-gradient(top, #f68c17, #f36911); 
  /* Opera 11.10+ */ 
  background: -o-linear-gradient(top, #f68c17, #f36911);
  
}
p.sumate a:hover{
  color:#fdf6d8;
  background-color:#f47714; 
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f36911), to(#f68c17)); 
  background: -webkit-linear-gradient(top, #f36911, #f68c17); 
  background: -moz-linear-gradient(top, #f36911, #f68c17); 
  background: -ms-linear-gradient(top, #f68c17, #f36911); 
  background: -o-linear-gradient(top, #f68c17, #f36911);
  text-shadow: 0px -1px 0px #e94903;
}

#home #sidebar .last {
  /*overrides 1440.css*/
  margin:0;
  padding: 0 0 0 1.6%;
  border-right:none;
  
}


#sidebar .fourcol h2{
    font-size:170%;
}

/* Tablas de diputados y senadores */

#home h2 {
  font-size: 180%;
  font-weight: normal;
  line-height:1.2;
  margin-bottom:20px;
}


table{
  width: 100%;
  border-collapse: collapse;
}

th, .tipo-de-dato, dt{
  color: #666;
  font-size: 11px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
}
th{
    padding: 5px 10px;
    
}

tr.odd td{
  background-color:#F3F3F3;
}
td{
  border-top:1px solid #DDD;
  padding:10px;
}
#tabla-funcionarios .nombre{
  font-weight:bold;
}

#tabla-funcionarios .presentismo,
#tabla-funcionarios .licencia,
#tabla-funcionarios .mision,
#tabla-funcionarios .presente,
#tabla-funcionarios .ausente{
  text-align:right;
}

#tabla-funcionarios .nombre{width:25%};

.dataTables_paginate{
  float: left;
  margin: 20px 0;
}
.paginate_button,
.paginate_active,
.paginate_button_disabled{
  color: #666666;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 3px 8px;
  text-decoration: none;
  text-shadow: 0 1px 0 #FFFFFF;
}
.paginate_button_disabled{
  color: #CCC;
}
.paginate_active{
  -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
  background-color:#CCCCCC;
  color:#FFFFFF;
  cursor:default;
  display:block;
  text-shadow:0 1px 0 #888888;
}
.dataTables_wrapper{
    position:relative;
    
}
.dataTables_info{
  margin: 20px 0;
  padding: 3px 0;
}
.dataTables_length{
    position:absolute;
    top:13px;
    right:20px;
}

.dataTables_filter{
  text-align: left;
  width:97%;
  padding:10px;
  background-color:#f0f5f9;
  border:1px solid #cee1f1;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  margin-bottom:25px;
}

th.bloque{width:21%};
th.presentismo{width:14%};
th.presente{width:9%};
th.ausente{width:9%};
th.licencia{width:9%};
th.mision{width:14%};


/* Perfil del legislador */
dl dd {
    margin-bottom:15px;
    
    }

#perfil-legislador img{
  float: left;
  margin: 0 15px 15px 0;
  padding: 3px;
  border: 1px solid #EEE;
  /*max-width:120px;*/
  max-height: 100px;
}

#perfil-legislador h1{
    margin:2px  0 0;
    
}


/* Votos */

#votos th.como-voto{
    width:75px;
    text-align:center;
    
}

#votos td.como-voto{
    text-align:center;
    }

/*twitter legislador*/
#twitter-legislador {
    margin-top:70px;
}
/*formularios*/
html body.ss-base-body .ss-form-container .ss-form-heading .ss-required-asterisk{
	display: none !important;
}
/*partidos politicos*/

#detalle-presentismo, #detalle-votos {
    border-top:1px dotted lightgrey;
    margin-bottom:40px;
    
    
}

#detalle-presentismo li, #detalle-votos li {
    font-size:300%;
    display:inline;
    float:left;
    width:17%;
    border-right:1px dotted lightgrey;
    padding:20px 15px 0 15px;
    
}

#estadisticas-generales .tipo-de-dato,
#detalle-presentismo .tipo-de-dato, 
#detalle-votos .tipo-de-dato {
    display:block;
    line-height:3;
}

#estadisticas-generales .ultimo,
#detalle-presentismo .ultimo, #detalle-votos .ultimo {
    border-right:none;
    
}

/* Facetado */

#facetas {
    position: relative;
    }

#facetas .bloques li, #facetas .distritos li {
    line-height:1.5;
    font-size:90%;
    margin-bottom:10px;
}

#facetas li i {
 color:#5C5C5C;
 text-decoration:none;
 font-size:90%;
 font-style:normal;
}
#facetas h3{
    font-size:100%;
    text-transform:uppercase;
    margin:0;
}

#facetas .elegido{
    font-weight:bold;
}
#facetas .mas{position:relative;}

#facetas .mas-facetas{
    position:absolute;
    top:-100px;
    left:95px;
    z-index:1;
    background:url("../images/marcador-facetas.gif") no-repeat 0px 100px;
    display:none;
    

}

#facetas .mas-facetas .inner {
    display:block;
    width: 690px;
    background:white;
    border:4px solid #b3b3b3;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    padding:20px;
    margin-left:9px;
    }

#facetas .mas-facetas li {
    float:left;
    width:230px;
    list-style:none;
    padding:0;
    margin-left:0;
}

#facetas .distritos .mas-facetas ul {
  /*  column-count:3;
    column-gap:12px;
    -moz-column-count:3;
    -moz-column-gap:12px;
    -webkit-column-count:3;
    -webkit-column-gap:12px;
*/
}
#facetas .distritos .mas-facetas li {
    width:150px;

}

#facetas .distritos .mas-facetas .inner{
    width: 300px;
    
} 

.mensaje{
    background-color:lightyellow;
    padding:10px;
    clear:both;
    font-style:italic;
    margin-bottom:20px;
}

.mensaje a{
    float:right;
    font-style:normal;
}

/* Contenido */
#contenido .inner{
    border-right:1px dotted lightgrey;
}

#contenido ul{
    margin:10px 0 20px 40px;
    line-height:1.5;
    list-style:none;
}

#contenido h2, #sidebar h2{
    font-size:130%;
    font-weight:normal;
}
/* sidebar */

/* Footer */

#footer {
  margin-top:20px;
  border-top:1px solid lightgrey;
}
#footer li,#footer p {
    font-size:90%;
    line-height:4;
}

#footer p{
    width:430px;
    float:left;
    
}

#footer p a {
    vertical-align:sub;
}


#footer ul {
    float:right;
    width:430px;
    text-align:right;
}


#footer li {
    list-style:none;
    display:inline;
    margin-right:12px;
}
