<div class="twitter-legislador">
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
    new TWTR.Widget({
      version: 2,
      type: 'profile',
      rpp: 4,
      interval: 6000,
      width: 'auto',
      height: 300,
      theme: {
        shell: {
          background: '#d8e7ed',
          color: '#333333'
        },
        tweets: {
          background: '#ffffff',
          color: '#666666',
          links: '#0975b3'
        }
      },
      features: {
        scrollbar: false,
        loop: false,
        live: false,
        hashtags: true,
        timestamp: true,
        avatars: false,
        behavior: 'all'
      }
    }).render().setUser('_nesto').start();
    </script>
</div>