<h1>Senadores</h1>
<div class="clearfix">
    
    <div id="facetas" class="threecol">
    <%= render :partial => 'shared/bloques_filter', :locals => { :bloques => @bloques } %>
    </div>
    <div id="legisladores" class="ninecol last">
    <%= render :partial => 'shared/politicians', :locals => {:personas => @senators}%>
    </div>
</div>