<h1>Proyectos</h1>

<table>
  <tr>
    <th>Título</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.title, project %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @projects %>
