<div id="contenido" class="eightcol">
  <h1>Quienes Somos</h1>
  <p>Somos un grupo de dise&ntilde;adores, desarrolladores y comunicadores independientes, interesados en construir herramientas que abran las puertas a una democracia m&aacute;s transparente y participativa.</p>
  <p>Aunque venimos de lugares distintos y con diferentes posturas frente al mundo, todos compartimos la idea de que gracias a internet se pueden crear nuevas y mejores formas de interacci&oacute;n entre la sociedad y el estado.</p>
  
  
  <h2>Colaboradores Actuales</h2>
  <ul>
    <li><a href="#">Jos&eacute; Allona</a></li>
    <li><a href="#">Dami&aacute;n Calder&oacute;n</a></li>
    <li><a href="#">Betina Garc&iacute;a</a></li>
    <li><a href="#">Enrique Stanziola</a></li>
    <li><a href="#">Mart&iacute;n Szyszlican</a></li>
    <li><a href="#">Ernesto Tagwerker</a></li>
    <li><a href="#">Santiago V&aacute;zquez</a></li>  
    <li><a href="#">Sebasti&aacute;n Zelonka</a></li>  
    <li><a href="#">Tess</a></li>  
  </ul>
  
  <h2>Antiguos colaboradores</h2>
  <ul>
    <li><a href="#">Verónica Traynor</a></li>  
    <li><a href="#">Javier Astigueta</a></li>  
    <li><a href="#">Diego López Castan</a></li>  
    <li><a href="#">Juan Lanus</a></li>  
  </ul>
</div>
<div id="sidebar" class="fourcol last">
  <h2>Sumate</h2>
  <p><strong>Congreso Interactivo</strong> es un proyecto abierto y hecho a pulm&oacute;n donde pod&eacute;s ayudar de maneras muy diversas: <strong>dise&ntilde;o</strong>, <strong>desarrollo</strong>, <strong>comunicaci&oacute;n</strong>, <strong>pedagog&iacute;a</strong>, etc. Si te interesa la transparencia pol&iacute;tica y quer&eacute;s hacer algo desde tu lugar, te invitamos a <a href="https://docs.google.com/spreadsheet/embeddedform?formkey=dFRmSjdsTkxoallYYmdDNjUtVlllZ3c6MQ">contactarnos</a></p>
</div>