<h1>Diputados</h1>
    <div class="row">      
    </div>
    <div id="facetas" class="twocol">
      <%= render :partial => 'shared/bloques_filter', :locals => { :bloques => @bloques } %>
      <%= render :partial => 'shared/districts_filter', :locals => { :distritos => @distritos } %>

    </div>
    <div id="legisladores" class="tencol last">
      <%if defined?(@filter)%>
      <%= render :partial => 'shared/mensaje', :locals => {:distritos => @filter[:distritos], :bloques => @filter[:bloques]}%>
      <% end %>
      <%= render :partial => 'shared/politicians', :locals => {:personas => @diputados}%>
    </div>
