<!DOCTYPE html>
<html>
<head>
  <title>Congreso Interactivo</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container">  
  <div class="header clearfix">
    <h1 class="site-name"></h1>
    <nav class="main-menu">
      <a href="/senators">Senadores</a>
      <a href="/diputados">Diputados</a>
    </nav>
  </div>
  <div class="main-content">
    <%= yield %>
  </div>
</div>
</body>
</html>
